.sets-area{
   width: 100%;
   height: 70vh;
   padding: 0 10px;
}

.content-area{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   max-width: 1900px;
   // border: 1px solid var(--light);
   margin: 0 auto;
   // height: 100%;
   border-radius: 5px;
   padding: 20px;
   flex-wrap: wrap;
   gap: 10px;
   overflow-y: hidden;
}