<div class="cards-area">
  
  <button mat-icon-button routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div *ngIf="cards && cards.length >= 30" class="cards-content">
    
    <app-card
      *ngFor="let card of cards"
      [name]="card.name"
      [manaCost]="card.manaCost"
      [colorIdentity]="card.colorIdentity[0]"
      [text]="card.text"
      [imageUrl]="card.imageUrl"
    ></app-card>
  </div>

  <div *ngIf="cards && cards.length < 30" class="loading">
    Carregando os seus boosters
    <mat-progress-spinner
      class="black-spinner"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>
</div>
